@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #e0e9f0;
}

header {
  height: 150px;
  margin-bottom: 100px;
}

#logo {
  cursor: pointer;
}

nav {
  height: 150px;
  background-color: rgba(33, 28, 132, 0.9);
}

.nav-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-top: 10px;
}

.nav-ul li {
  font-family: Arial;
  text-decoration: none;
  list-style: none;
  font-size: 13px;
}

.nv-link {
  color: white;
  text-decoration: none;
  padding: 10px 0px;
}

.nv-link:hover {
  color: #00ebe7;
  transition: 0.2s;
}

.nv-link:active {
  color: #00ebe7;
}

nav a.active {
  position: relative;
  color: #00ebe7;
}

nav a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #00ebe7;
  border-radius: 2px;
}

.text-onhero {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 100px;
  font-style: normal;
  font-size: 70px;
  letter-spacing: 02px;
  text-align: center;
  padding-top: 130px;
  text-shadow: 2px 2px 4px #111111;
}

.p-hero {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  line-height: 6mm;
}

.btn-link {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  padding: 10px 20px;
  border: 3px solid #00ebe7;
  border-radius: 50px;
  background-color: transparent;
  margin-top: 30px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(49, 49, 49, 0.2),
    0 6px 20px 0 rgba(58, 58, 58, 0.19);
}

.btn:hover {
  background-color: #00ebe7;
  color: white;
  transition: 0.2s;
}

/* End Heder Section */

.container {
  display: flex;
  margin-top: 80px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 40px;
  border: none;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(160, 160, 160, 0.2),
    0 6px 20px 0 rgba(145, 145, 145, 0.2);
}

.horizental-blank-space {
  height: 80px;
}

.flex-inside-nav {
  display: flex;
}

.blank-space {
  width: 10px;
  height: 50px;
}

.nagativation-vertical-bar {
  width: 450px;
  height: 630px;
  background-color: #ffffff;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  transition: 0.3s;
  padding: 0px;
  margin: 0px;
}

.white-page {
  width: 100%;
  height: 630px;
  background-color: #ecf1f4;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-image: url(../img/Goal-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container ul {
  list-style: none;
  width: 77.5%;
}

.container li {
  padding-left: 70px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 15px;
  width: 90%;
  transition: 0.1s;
}

.container li:hover {
  background-color: rgba(27, 102, 123, 0.1);
  transition: 0.1s;
}

.container li:hover a,
.container li:hover .title {
  color: #076984 !important;
}

.container li:hover a,
.container li:hover .icon {
  color: #076984 !important;
}

.container li:hover a {
  color: blue;
}

.title {
  color: #6e8999;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 15px;
  padding-left: 15px;
  text-align: center;
}

.container ul li a {
  text-decoration: none;
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
}

.icon {
  color: #6e8999;
  font-size: 20px;
  cursor: pointer;
}

.icon:hover {
  scale: 1.02;
  transition: 0.3s;
}

/* White Space Content  */

.welcome-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
  padding-top: 20px;
}

.wellcome-text-h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 100px;
  font-style: normal;
  color: #211c84d7;
  margin-top: 30px;
  margin-left: 20px;
  font-size: 29px;
}

.wellcome-text-p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin-top: 2px;
  margin-left: 20px;
  color: #076984af;
}

.share-icon {
  width: 50px;
  padding-left: 15px;
}

/* Start Here Income vs expenses  */

.invex-main-contain {
  width: 98%;
  height: 76%;
  margin-left: 6px;
  margin-top: 10px;
  border-radius: 20px;
  background: transparent;
}

.invex-fianacial-tracker {
  width: 100%;
  height: 50px;
  text-align: center;
  padding-top: 8px;
  font-family: "Poppins", sans-serif;
  color: #076984af;
}

.invex-financial-tracker-hr {
  margin-top: 10px;
  border: 1px solid rgb(216, 221, 216);
  width: 96.5%;
  margin-left: 20px;
}

.invex-income-vs-expenses {
  width: 98%;
  height: 50px;
  padding-left: 20px;
  padding-top: 5px;
  font-family: "Poppins", sans-serif;
}

.invex-column-main {
  width: 100%;
  height: 74%;
  display: flex;
}

.invex-column-chart-main {
  width: 60%;
  height: 100%;
}

.invex-column-chart {
  width: 92%;
  height: 92%;
  background-color: #ffffff;
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
}

.invex-column-chart-discription {
  width: 40%;
  height: 100%;
}

.invex-income-main {
  width: 100%;
  height: 40%;
  display: flex;
}

.invex-income {
  width: 45%;
  height: 80%;
  background-color: #ffffff;
  padding-top: 10px;
  padding-left: 10px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
  font-family: "Poppins", sans-serif;
  color: #076984af;
}

.invex-netincome {
  width: 94.5%;
  height: 52%;
  background-color: #ffffff;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 10px;
  box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
  font-family: "Poppins", sans-serif;
}

.invex-expenses {
  width: 45%;
  height: 80%;
  background-color: #ffffff;
  padding-top: 10px;
  padding-left: 10px;
  margin-top: 10px;
  margin-left: 8px;
  border-radius: 10px;
  box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
  font-family: "Poppins", sans-serif;
  color: #076984af;
}

/* Edit the column chart */

.myColumnChart {
  display: block;
  width: 500px;
  height: 1000px;
  padding-top: 40px;
  margin: 10px;
}

.invex-income-vs-expenses-h1 {
  color: rgba(33, 28, 132, 0.9);
}

.invex-income-h1 {
  color: rgba(33, 28, 132, 0.9);
}

.invex-expenses-h1 {
  color: rgba(33, 28, 132, 0.9);
}

.invex-fianacial-tracker-font {
  font-size: 25px;
}

.invex-column-paragraph {
  font-size: 12px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #52585c;
}

/* footer */

footer {
  height: 550px;
  background-color: #211c84;
  margin-top: 80px;
}

footer a {
  text-decoration: none;
  color: white;
}

.footer-main-flex {
  display: flex;
  justify-content: space-between;
}

.footer-main-flex {
  padding-top: 80px;
  padding-left: 250px;
  padding-right: 250px;
  padding-bottom: 100px;
}

.footer-flex-h3 {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Poppins", sans-serif;
  font-weight: 100px;
  font-style: normal;
  font-size: 20px;
  padding-left: 10px;
}

.footer-main-flex ul {
  list-style: none;
}

.footer-main-flex li {
  color: rgba(255, 255, 255, 0.7);
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-size: 13px;
  padding-top: 10px;
}

.footer-flex-f-li {
  padding-top: 20px !important;
}

.footer-logo {
  width: 160px;
  padding-left: 30px;
  margin-top: -20px;
}

.footer-logo-phone {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-logo-phone span {
  font-size: 21x;
}

.footer-phone {
  display: flex;
  align-items: center;
  gap: 15px;
}

.font-awesome-footer {
  color: white;
  font-size: 15px;
}

.footer-email {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  padding-top: 10px;
  gap: 15px;
}

.footer-p1 {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-family: arial;
  font-size: 14px;
  margin-bottom: 60px;
}

.footer-hr {
  background-color: rgba(255, 255, 255, 0.2);
  height: 2px;
  border: none;
  margin-bottom: 20px;
}

.copyright-design {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin-bottom: 5px;
}

.footer-blackarea {
  background-color: black;
  height: 150px;
}

.footer-p2 {
  color: white;
  font-family: arial;
  font-size: 16px;
  padding-top: 40px;
  padding-bottom: 18px;
  padding-left: 40px;
}

.footer-btn {
  padding: 10px 20px;
  background-color: #00ebe7;
  cursor: pointer;
}

.footer-btn:hover {
  background-color: #6af3f0;
}

.footer-btn-link:link {
  padding-left: 40px;
}

/* End The Footer  */
